---
import Layout from '../layouts/Layout.astro';
import ExCard from '../components/ex)Card.astro';
import TwoLine from '../components/TwoLine.astro';
import Menu from '../components/menu';
---

<Layout title="理科大プログラミングサークル TND">

  <header>
    <TwoLine></TwoLine>
  </header>

  <main class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8">
    <!-- Hero Section -->

    <div class="container flex flex-col md:flex-row items-center gap-10 relative pt-20">
      <Menu client:load />
      <section class="mb-16">
        <h2 class="mb-8 text-gray-900" style="color: #000; font-family: 'Rubik Doodle Shadow'; font-size: 38px; font-style: normal; font-weight: 400; line-height: normal;">What's TND</h2>
        <div class="prose prose-lg max-w-xg text-gray-600">
          <p>
            TNDはweb開発をメインに活動する東京理科大学のプログラミングサークルです。2024年に設立され、現在は20名のメンバーが所属しています。
          </p>
          <p>
            フロントエンド、バックエンド、デザイン、データサイエンスなど様々な分野の技術を学び、実践しています。
          </p>
        </div>
      </section>
      <img src="/mainCharm.svg" alt="mainCharm" class="w-full md:w-auto md:absolute top-[5rem] right-[15rem] max-w-xs md:max-w-md lg:max-w-lg pb-[5rem]" />
    </div>

	<div class="container flex flex-col md:flex-row items-center gap-10">
	<section class="mb-16">
		<h2 class="mb-8 text-gray-900" style="color: #000; font-family: 'Rubik Doodle Shadow'; font-size: 30px; font-style: normal; font-weight: 400; line-height: normal;">NEWS</h2>
    <ExCard href="#" title="Yay" body="context."></ExCard>
  </section>
	</div>
    
	<!-- SNS LOGOs -->
	<div class="container items-center md:items-start flex md:flex-col flex-row gap-5 md:absolute bottom-40 left-5">
		<p class="vertical rotate-180" style="font-family: 'Abel';">-Follow-</p>
		<img src="/sns-x.png" alt="XIcon" class="max-w-[1rem] max-h-[1rem] sm:w-[1.5rem] sm:h-[1.5rem] md:max-w-[1.5rem] md:max-[2rem] md:max-h-[2rem]" />
		<img src="/sns-line.png" alt="LineIcon" class="max-w-[1rem] max-h-[1rem] sm:w-[1.5rem] sm:h-[1.5rem] md:max-w-[1.5rem] md:max-w-[2rem] md:max-h-[2rem]" />
		<img src="/sns-discord.svg" alt="DiscordIcon" class="max-w-[1rem] max-h-[1rem] sm:w-[1.5rem] sm:h-[1.5rem] md:max-w-[1.5rem] md:max-w-[2rem] md:max-h-[2rem]" />
	</div> 
	
</main>
    <!-- Footer -->
    <footer class="mt-24 border-t border-gray-200 py-8">
      <div class="mx-auto max-w-7xl px-4 text-center sm:px-6 lg:px-8">
        <p class="text-sm text-gray-500">© 2024 TND All Rights Reserved.</p>
      </div>
    </footer>
</Layout>